<<<<<<< HEAD

    <form id="signin" name="signin" method="post" action="signin">
=======
<form id="signin" name="signin" method="post" action="signin">

        <i class="material-icons prefix">account_circle</i>
        <input placeholder="UserName" name="userName"id="userName" type="text" class="userName">
        <label for="userName"></label>

        <i class="material-icons prefix">email</i>
>>>>>>> 430e99180b5dd8d2c54d80a89d805e83c477d126
        <label for="email">Email Address</label>
        <input class="text" placeholder="email" name="email" type="text" />

        <i class="material-icons prefix">create</i>
        <label for="password">Password</label>
        <input name="password" type="password" />
<<<<<<< HEAD
        <input class="btn" type="submit" value="Sign In" />
    </form>
 
=======
        <input class="btn purple darken-2" type="submit" value="Sign In" />
    </form>
>>>>>>> 430e99180b5dd8d2c54d80a89d805e83c477d126
