<form id="signin" name="signin" method="post" action="signin">

        <i class="material-icons prefix">email</i>
        <label for="email">Email Address</label>
        <input class="text" placeholder="email" name="email" type="text" />

        <i class="material-icons prefix">create</i>
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn purple darken-2" type="submit" value="Sign In" />
    </form>
