<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Authentication Test</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  		<link href="../../assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
 		<link href="../../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
